{% load static %} 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <title>Chatter</title> 
    <script type="module" src="{% static 'Authentication.js' %}"></script>
    <script type="module" src="{% static 'Chat.js' %}"></script>
    <script type="module" src="{% static 'index.js' %}"></script>
</head>
<body>  
    <div id="authentication">
        <div id="Title">Login</div>
        <div id="login"> 
           <form method="POST"  id="login_form">
               {% csrf_token %}
            <input type="text" required="true" class="input-field" placeholder="Username" id="login-input">
            <input type="password" required="true" class="password-field" id="login-password" placeholder="Password">
            <input type="submit" value="Login" class="btn" id="login_btn">
        </form>
        </div>
       
        <div id="register">
            <form method="POST" id="register_form">
                {% csrf_token %}
                <input type="email" required="true" name="" class="input-field" id="register-mail"   placeholder="Email">
                <input type="text" required="true" class="input-field" id="register-username" placeholder="Username">
                <input type="text" name="" id="first-name" placeholder="First Name" class="input-field">
                <input type="text" name="" id="last-name" placeholder="Last Name" class="input-field">
                <input type="password" required="true" name="" class="password-field" id="register-pwd"  placeholder="Password">
                <input type="password" required="true" name="" class="password-field" id="register-cpwd"  placeholder="Confirm Password">
                <input type="submit" value="Sign Up" class="btn" id="signup_btn">
            </form>
        </div>
        <div id="toggle"></div>    
    </div> 
    <!----------------------------------Authentication------------------------------>
<section id="chat_page">
     
     <div id="chat">
         <div id="list">
             <div id="nav">
                 <img src="https://image.flaticon.com/icons/png/128/3011/3011270.png" alt="" id="profile">
                  
                 <button id="logout">Logout</button>
             </div>
             <div id="search"><input type="search" name="" id="search-bar" placeholder="Search for users"></div>
             <div id="contact-list">  
                 
             </div>
         </div>
         <div id="default-page">

         </div>
         <div id="chat-display">
             <div id="nvbr">
                 <img src="https://image.flaticon.com/icons/png/128/3011/3011270.png" alt="" id="display-pic">
                 <div id="username"></div>
             </div>
             
             <div id="messages">
                 
             </div>
             
             <form method="POST",id="msg_form">
            <div id="chat-box">
                <textarea name="" id="msg-box" cols="5" rows="3" placeholder="Type your message"></textarea>
                <input type="button" value="send" id="send-btn">
            </div>
        </form>
        
            </div>
            
         </div> 
          
</section>
</body>
</html>